.titulo{
    color: darkseagreen;
    text-align: center;
}

#btnCountNodes{
    border-color: black;
    background-color: darkseagreen;
}
#btnCountElementNodes{
    border-color: black;
    background-color: darkseagreen;
}